*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
    background-color: red;
}
#logo{
    width: 15%;
    margin:0.8% 30% 0% 0%;
}
.botones{
    width: 30%;
    margin: 1% 2% ;
}
div{
    float: left;
}
#lupa{
    height: 22px;
    width: 22px;
}
#Buscar{
    margin: 20px 0px 0px 0px;
    width: 20%;
}
.busqueda{
    border-radius: 50%;
    padding: 1%;
}
#box{
    height: 20px;
    padding: 2%;
    width: 80%;
    border-radius: 20px;
}
#b2{
    background-color:#e3e4e5;
    padding: 8px;
    border-radius: 40px;
}
#b2 a{
    color: red;
    text-decoration: none;
    font-size: 20px;
}
#b3{
    background-color:black;
    padding: 8px;
    border-radius: 40px;
}
#b3 a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
#menuPrincipal{
    background-color: red;
    width: 100%;
    height: 29px;
   
}
#containerMenu{
    width: 100%;
    float:right;
    margin-right: 20%;
}
#menuPrincipal a{
    color:white;
    font-size: 25px;
    padding-left: 8%;
    font-weight: bold;
    float: right;
    text-decoration: none;
}