*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general{
    width: 100%;
    margin: 0 auto;
    
}
/* --------------------INICIO HEADER-----------------*/
#header{
    width: 100%;
    height: 100px;
    background-color: #fe0405;
}

#divLogo{
    display: block;
    width: 20%;
    height: 100px;
    float: left;
    margin-left: 20px;
}
#imgLogo{
    width: 150px;
    height: 100px;
}
#divOpcionesHeader{
    display: block;
    width: 40%;
    height: 50px;
    float: right;
    margin-top: 40px;
}

.opcionesHeader{
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    line-height: 92px;
}
#botonCerrar{
    margin-top: 2%;    
}
#b1{
    background-color: black;
    border-radius: 30px;
    width: 40%;
    float: right;
}
#b1 a{
    text-decoration: none;
    padding: 8%;
    font-size: 20px;
    color: white;
}
/* --------------------FIN HEADER-----------------*/

/* -------------INICIO ENCABEZADO PÁGINA----------*/

#encabezadoPag1{
    width: 30%;
    height: 50px;
}
#encabezadoPag h1{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 20px;
    width: 40%;
}
/* ---------------FIN ENCABEZADO PÁGINA------------*/

/* ---------------INICIO FORMULARIO ------------*/
#contenido{
    width: 100%;
}
form{
    font-size: 18px;
}
.clearfix{
    float: none;
    clear: both;
}
/* PANEL CENTRAL */
#wrapCentral{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.combo, input{
    padding: 8px;
}


.btnFormulario1{
    padding: 8px;
    background-color: red;
    font-size: 18px;
    color: white;
    margin: 0 12px;
    border-radius: 30px;
}
.btnFormulario2{
    padding: 8px;
    background-color: black;
    font-size: 18px;
    color: white;
    margin: 0 12px;
    border-radius: 30px;
}
#botones{
    margin:2% 20% 2% 25%;
}
/* ---------------INICIO FOOTER ------------*/
#footer{
    width: 100%;
    height: 80px;
    background-color: red;
    margin-top: 20px;
}

.pie{
    color:black;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
/* ---------------FIN FOOTER ------------*/